In [1]:
import pandas as pd
import numpy as np

1. 내용 : `head()`
1. column : `columns`
1. 행렬구조, data type, null data : `info()`
   - 행렬구조 ONLY
     - `shape`
   - data type ONLY
     - `dtypes`
   - null data ONLY
     - 열 단위 - `isnull().any()`
     - df 단위 - `isnull().any().any()`
1. 기술통계 : `describe()`

In [49]:
train = pd.read_csv("asset_/train.csv")
test = pd.read_csv("asset_/test.csv")
key = pd.read_csv("asset_/key.csv")
weather = pd.read_csv("asset_/weather.csv")
sampleSubmission = pd.read_csv("asset_/sampleSubmission.csv")

In [77]:
print(train.columns) # date, store_nbr, item_nbr, units
print(test.columns) # date, store_nbr, item_nbr
print(key.columns) # store_nbr, item_nbr
print(weather.columns)
# station_nbr, date, tmax, tmin, tavg, depart, dewpoint, wetbulb, heat, cool, sunrise, sunset
# codesum, snowfall, preciptotal, stnpressure, sealevel, resultspeed, resultdir, avgspeed
print(sampleSubmission.columns) # 'id', 'units'

Index(['date', 'store_nbr', 'item_nbr', 'units'], dtype='object')
Index(['date', 'store_nbr', 'item_nbr'], dtype='object')
Index(['store_nbr', 'station_nbr'], dtype='object')
Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed'],
      dtype='object')
Index(['id', 'units'], dtype='object')

### 1. train df, weather df EDA (w. describe, visualiztion)
: 이를 통해 train과 weather을 merge하기 전, 각각 전처리를 수행한다

#### 1.1 train df EDA
: store마다 일자마다 판매한 item의 개수와 특징을 파악한다

In [79]:
train.describe()

          store_nbr      item_nbr         units
count  4.617600e+06  4.617600e+06  4.617600e+06
mean   2.309108e+01  5.600000e+01  9.868756e-01
std    1.295281e+01  3.204164e+01  9.875798e+00
min    1.000000e+00  1.000000e+00  0.000000e+00
25%    1.200000e+01  2.800000e+01  0.000000e+00
50%    2.300000e+01  5.600000e+01  0.000000e+00
75%    3.400000e+01  8.400000e+01  0.000000e+00
max    4.500000e+01  1.110000e+02  5.568000e+03