In [25]:
# Import libraries
'''
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
'''

# Pretty display for notebooks
'''
%matplotlib inline
'''

# Allows the use of display() for DataFrames
from IPython.display import display 

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
weather = pd.read_csv("../asset/weather.csv")
key = pd.read_csv("../asset/key.csv")
submission_example = pd.read_csv("../asset/sampleSubmission.csv")

# Success - Display the first record
print("Train data : ", train.shape)
print("Test  data : ", test.shape)
print("weather  data : ", weather.shape)
print("key  data : ", key.shape)
print("submission  data : ", submission_example.shape)

import pickle
import awesome_functions as cf

slack_url = pickle.load(open('slackUrl.pickle', 'rb'))
slack_url

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_weather = weather.copy()
df_key = key.copy()
df_test = test.copy()

Train data :  (4617600, 4)
Test  data :  (526917, 3)
weather  data :  (20517, 20)
key  data :  (45, 2)
submission  data :  (526917, 2)

In [2]:
df_train_key = df_train.merge(df_key, on=["store_nbr"], how="inner")
df_train_key.tail()

               date  store_nbr  item_nbr  units  station_nbr
4617595  2014-10-31         35       107      0            5
4617596  2014-10-31         35       108      0            5
4617597  2014-10-31         35       109      0            5
4617598  2014-10-31         35       110      0            5
4617599  2014-10-31         35       111      0            5

In [3]:
total = df_train_key.merge(df_weather, on=["date","station_nbr"], how="inner")
total.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4617595,2014-10-31,35,107,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617596,2014-10-31,35,108,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617597,2014-10-31,35,109,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617598,2014-10-31,35,110,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617599,2014-10-31,35,111,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M

In [4]:
train_preprocess = pickle.load(open("preprocess_date.pkl", "rb"))

In [5]:
train_preprocess

,date,store_nbr,item_nbr,units,log1p,date2,station_nbr,preciptotal_flag,depart_flag,weekday,is_weekend,is_holiday,is_holiday_weekday,is_holiday_weekend,day,month,year,holiday_name,around_BlackFriday
0,2012-01-01,1,9,29,3.401197,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
1,2012-01-01,1,28,2,1.098612,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
2,2012-01-01,1,40,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
3,2012-01-01,1,47,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
4,2012-01-01,1,51,1,0.693147,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
5,2012-01-01,1,89,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
6,2012-01-01,1,93,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
7,2012-01-01,1,99,0,0.000000,2012-01-01,1,0.0,0.0,6,1,1,0,1,1,1,2012,NewYearsDay,Else
8,2012-01-02,1,9,60,4.110874,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
9,2012-01-02,1,28,5,1.791759,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
10,2012-01-02,1,40,0,0.000000,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
11,2012-01-02,1,47,0,0.000000,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
12,2012-01-02,1,51,1,0.693147,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
13,2012-01-02,1,89,0,0.000000,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
14,2012-01-02,1,93,0,0.000000,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
15,2012-01-02,1,99,0,0.000000,2012-01-02,1,0.0,0.0,0,0,1,1,0,2,1,2012,,Else
16,2012-01-03,1,9,15,2.772589,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
17,2012-01-03,1,28,9,2.302585,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
18,2012-01-03,1,40,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
19,2012-01-03,1,47,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
20,2012-01-03,1,51,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
21,2012-01-03,1,89,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
22,2012-01-03,1,93,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
23,2012-01-03,1,99,0,0.000000,2012-01-03,1,0.0,0.0,1,0,0,0,0,3,1,2012,,Else
24,2012-01-04,1,9,20,3.044522,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
25,2012-01-04,1,28,3,1.386294,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
26,2012-01-04,1,40,0,0.000000,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
27,2012-01-04,1,47,0,0.000000,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
28,2012-01-04,1,51,0,0.000000,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
29,2012-01-04,1,89,0,0.000000,2012-01-04,1,0.0,0.0,2,0,0,0,0,4,1,2012,,Else
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236008,2014-10-28,35,49,0,0.000000,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236009,2014-10-28,35,50,3,1.386294,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236010,2014-10-28,35,63,0,0.000000,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236011,2014-10-28,35,66,11,2.484907,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236012,2014-10-28,35,93,0,0.000000,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236013,2014-10-28,35,105,0,0.000000,2014-10-28,5,0.0,0.0,1,0,0,0,0,28,10,2014,,Else
236014,2014-10-29,35,16,20,3.044522,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236015,2014-10-29,35,24,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236016,2014-10-29,35,49,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236017,2014-10-29,35,50,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236018,2014-10-29,35,63,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236019,2014-10-29,35,66,14,2.708050,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236020,2014-10-29,35,93,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236021,2014-10-29,35,105,0,0.000000,2014-10-29,5,0.0,0.0,2,0,0,0,0,29,10,2014,,Else
236022,2014-10-30,35,16,16,2.833213,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236023,2014-10-30,35,24,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236024,2014-10-30,35,49,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236025,2014-10-30,35,50,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236026,2014-10-30,35,63,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236027,2014-10-30,35,66,6,1.945910,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236028,2014-10-30,35,93,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236029,2014-10-30,35,105,0,0.000000,2014-10-30,5,0.0,0.0,3,0,0,0,0,30,10,2014,,Else
236030,2014-10-31,35,16,18,2.944439,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236031,2014-10-31,35,24,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236032,2014-10-31,35,49,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236033,2014-10-31,35,50,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236034,2014-10-31,35,63,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236035,2014-10-31,35,66,10,2.397895,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236036,2014-10-31,35,93,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else
236037,2014-10-31,35,105,0,0.000000,2014-10-31,5,0.0,0.0,4,0,1,1,0,31,10,2014,Halloween,Else

In [10]:
unitsum_store_item = total[["station_nbr", "store_nbr", "item_nbr", "units"]].groupby(["station_nbr", "store_nbr", "item_nbr"]).agg('sum')
unitsum_store_item.tail()

                                units
station_nbr store_nbr item_nbr
20          17        107           0
                      108           0
                      109           0
                      110           0
                      111           0

In [8]:
def getStoreList(df, item_nbr, msg=True):
    df_ = df.copy()
    df_ = df_[df_["item_nbr"] == item_nbr]
    df_ = df_[df_["units"] != 0]
    if msg:
        print("팔린 개수가 0이상인 row 개수 : " + str(len(df_)))
        print("총 팔린 개수 : " + str(df_["units"].sum()))
        print(str(item_nbr) + "번 아이템이 팔린 스토어 개수 : " + str(len(list(df_["store_nbr"].unique()))))
        print(str(item_nbr) + "번 아이템이 팔린 스토어 넘버 리스트 : " + str(list(df_["store_nbr"].unique())))
    return len(df_), str(df_["units"].sum()), list(df_["store_nbr"].unique())

In [9]:
getStoreList(df_train, 1)

팔린 개수가 0이상인 row 개수 : 303
총 팔린 개수 : 778
1번 아이템이 팔린 스토어 개수 : 1
1번 아이템이 팔린 스토어 넘버 리스트 : [36]

(303, '778', [36])

In [19]:
a, b, validstore_ls = getStoreList(total, 44)

팔린 개수가 0이상인 row 개수 : 4530
총 팔린 개수 : 577193
44번 아이템이 팔린 스토어 개수 : 5
44번 아이템이 팔린 스토어 넘버 리스트 : [2, 21, 33, 30, 36]

In [16]:
total_item44 = total[total["item_nbr"]==44]
total_item44.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4617088,2014-10-27,35,44,0,5,M,M,M,M,38,...,0611,1645,,M,M,M,29.91,13.4,28,M
4617199,2014-10-28,35,44,0,5,M,M,M,M,47,...,0612,1644,,M,M,M,30.03,7.0,19,M
4617310,2014-10-29,35,44,0,5,M,M,M,M,55,...,0613,1643,,M,M,M,29.87,8.2,23,M
4617421,2014-10-30,35,44,0,5,M,M,M,M,38,...,0615,1641,,M,M,M,29.95,8.3,30,M
4617532,2014-10-31,35,44,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M

In [20]:
validstore_ls

[2, 21, 33, 30, 36]

In [53]:
total_item44_validstore = total_item44[total_item44["store_nbr"].isin(validstore_ls)]
total_item44_validstore.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4413514,2014-10-27,36,44,31,18,85,67,76,12,59,...,0641,1741,,0.0,0.00,29.31,29.82,14.9,19,15.3
4413625,2014-10-28,36,44,20,18,79,66,73,9,58,...,0642,1740,,0.0,0.00,29.50,29.98,2.6,02,8.2
4413736,2014-10-29,36,44,20,18,77,56,67,3,46,...,0643,1740,,0.0,0.00,29.62,30.13,5.1,09,6.8
4413847,2014-10-30,36,44,24,18,79,56,68,5,51,...,0643,1739,RA,0.0,T,29.60,30.11,2.9,14,5.6
4413958,2014-10-31,36,44,23,18,67,49,58,-4,40,...,0644,1738,,0.0,0.00,29.78,30.28,10.6,36,11.2

In [54]:
cf.isThereNoneData(total_item44_validstore)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,date,4535,0,0.00,0,0.00,0,0.00
1,store_nbr,4535,0,0.00,0,0.00,0,0.00
2,item_nbr,4535,0,0.00,0,0.00,0,0.00
3,units,4535,0,0.00,0,0.00,0,0.00
4,station_nbr,4535,0,0.00,0,0.00,0,0.00
5,tmax,4535,9,0.20,0,0.00,0,0.00
6,tmin,4535,9,0.20,0,0.00,0,0.00
7,tavg,4535,24,0.53,0,0.00,0,0.00
8,depart,4535,153,3.37,0,0.00,0,0.00
9,dewpoint,4535,14,0.31,0,0.00,0,0.00
10,wetbulb,4535,52,1.15,0,0.00,0,0.00
11,heat,4535,24,0.53,0,0.00,0,0.00
12,cool,4535,24,0.53,0,0.00,0,0.00
13,sunrise,4535,0,0.00,0,0.00,130,2.87
14,sunset,4535,0,0.00,0,0.00,130,2.87
15,codesum,4535,0,0.00,0,0.00,0,0.00
16,snowfall,4535,16,0.35,163,3.59,0,0.00
17,preciptotal,4535,9,0.20,511,11.27,0,0.00
18,stnpressure,4535,17,0.37,0,0.00,0,0.00
19,sealevel,4535,34,0.75,0,0.00,0,0.00
20,resultspeed,4535,2,0.04,0,0.00,0,0.00
21,resultdir,4535,2,0.04,0,0.00,0,0.00
22,avgspeed,4535,9,0.20,0,0.00,0,0.00

In [55]:
cf.remove_columns(total_item44_validstore,["date", "store_nbr", "station_nbr", "item_nbr", "sunrise", "sunset", "codesum"])

제거한 컬럼명 : ['date', 'store_nbr', 'station_nbr', 'item_nbr', 'sunrise', 'sunset', 'codesum']

,units,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4413514,31,85,67,76,12,59,65,0,11,0.0,0.00,29.31,29.82,14.9,19,15.3
4413625,20,79,66,73,9,58,64,0,8,0.0,0.00,29.50,29.98,2.6,02,8.2
4413736,20,77,56,67,3,46,56,0,2,0.0,0.00,29.62,30.13,5.1,09,6.8
4413847,24,79,56,68,5,51,58,0,3,0.0,T,29.60,30.11,2.9,14,5.6
4413958,23,67,49,58,-4,40,50,7,0,0.0,0.00,29.78,30.28,10.6,36,11.2

In [56]:
total_item44_validstore.tail()

,units,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4413514,31,85,67,76,12,59,65,0,11,0.0,0.00,29.31,29.82,14.9,19,15.3
4413625,20,79,66,73,9,58,64,0,8,0.0,0.00,29.50,29.98,2.6,02,8.2
4413736,20,77,56,67,3,46,56,0,2,0.0,0.00,29.62,30.13,5.1,09,6.8
4413847,24,79,56,68,5,51,58,0,3,0.0,T,29.60,30.11,2.9,14,5.6
4413958,23,67,49,58,-4,40,50,7,0,0.0,0.00,29.78,30.28,10.6,36,11.2

In [57]:
total_item44_validstore_dropped_all = cf.remove_m_row(total_item44_validstore)

원본 데이터프레임 length : 4535
제거하고 싶은 컬럼 : ['units', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 4314

In [58]:
total_item44_validstore_dropped_all.tail()

,units,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4413514,31,85.0,67.0,76.0,12.0,59.0,65.0,0.0,11.0,0.0,0.0,29.31,29.82,14.9,19.0,15.3
4413625,20,79.0,66.0,73.0,9.0,58.0,64.0,0.0,8.0,0.0,0.0,29.50,29.98,2.6,2.0,8.2
4413736,20,77.0,56.0,67.0,3.0,46.0,56.0,0.0,2.0,0.0,0.0,29.62,30.13,5.1,9.0,6.8
4413847,24,79.0,56.0,68.0,5.0,51.0,58.0,0.0,3.0,0.0,0.0,29.60,30.11,2.9,14.0,5.6
4413958,23,67.0,49.0,58.0,-4.0,40.0,50.0,7.0,0.0,0.0,0.0,29.78,30.28,10.6,36.0,11.2

In [59]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(total_item44_validstore_dropped_all.values, i) for i in range(total_item44_validstore_dropped_all.shape[1])]
vif["features"] = total_item44_validstore_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.075805     snowfall
1        1.083456        units
2        1.108335    resultdir
3        1.136439  preciptotal
4        1.507728       depart
5        1.558104  stnpressure
6        2.378936     sealevel
7        5.858611  resultspeed
8        6.334957     avgspeed
9       90.066708     dewpoint
10     297.283699      wetbulb
11    1365.844203         tmin
12    1457.331642         cool
13    1508.032495         tmax
14    3008.606441         heat
15  125268.931616         tavg

In [41]:
import statsmodels.api as sm

In [ ]:
statsmodels.regression.linear_model.OLS

In [60]:
columns = list(total_item44_validstore_dropped_all.columns)
columns_X = columns[1:]
columns_Y = columns[0]

In [61]:
X = sm.add_constant(total_item44_validstore_dropped_all[columns_X])
Y = total_item44_validstore_dropped_all[columns_Y]

In [62]:
model = sm.OLS(Y,X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     25.63
Date:                Sun, 01 Jul 2018   Prob (F-statistic):           4.45e-65
Time:                        17:16:33   Log-Likelihood:                -24380.
No. Observations:                4314   AIC:                         4.879e+04
Df Residuals:                    4299   BIC:                         4.889e+04
Df Model:                          14
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           0.7449      0.187      3.981      0.000       0.378       1.112
tmax           -2.0955      2.125     -0.986      0.324      -6.262       2.071
tmin           -2.1884      2.131     -1.027      0.305      -6.367       1.990
tavg           17.3793      5.711      3.043      0.002       6.183      28.575
depart          0.8689      0.155      5.623      0.000       0.566       1.172
dewpoint        0.4418      0.580      0.761      0.447      -0.696       1.580
wetbulb         1.9071      1.157      1.648      0.099      -0.361       4.176
heat           16.5815      3.784      4.382      0.000       9.162      24.001
cool          -14.4546      3.775     -3.829      0.000     -21.856      -7.053
snowfall       -3.5020      6.790     -0.516      0.606     -16.814       9.810
preciptotal    -4.5765      4.742     -0.965      0.335     -13.874       4.721
stnpressure   -44.0055      3.817    -11.528      0.000     -51.489     -36.522
sealevel       14.0680      8.826      1.594      0.111      -3.235      31.371
resultspeed     0.5662      0.566      1.000      0.317      -0.544       1.676
resultdir       0.2287      0.116      1.973      0.049       0.001       0.456
avgspeed       -2.1009      0.651     -3.225      0.001      -3.378      -0.824
==============================================================================
Omnibus:                      835.819   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1493.895
Skew:                           1.228   Prob(JB):                         0.00
Kurtosis:                       4.511   Cond. No.                     2.69e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.23e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [63]:
total_item44_validstore_dropped_all

,units,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
103162,215,50.0,34.0,42.0,5.0,25.0,35.0,23.0,0.0,0.0,0.00,29.13,30.52,11.4,32.0,11.3
103606,153,45.0,26.0,36.0,-1.0,16.0,29.0,29.0,0.0,0.0,0.00,29.21,30.65,6.3,35.0,7.4
104050,109,60.0,24.0,42.0,5.0,23.0,33.0,23.0,0.0,0.0,0.00,28.84,30.30,12.4,18.0,12.7
104494,148,58.0,32.0,45.0,9.0,27.0,37.0,20.0,0.0,0.0,0.00,28.89,30.29,6.1,34.0,7.6
104938,157,67.0,29.0,48.0,12.0,28.0,38.0,17.0,0.0,0.0,0.00,28.71,30.14,9.8,21.0,10.3
105382,109,67.0,37.0,52.0,16.0,31.0,42.0,13.0,0.0,0.0,0.00,28.50,29.89,5.1,21.0,12.2
105826,169,59.0,38.0,49.0,13.0,24.0,38.0,16.0,0.0,0.0,0.00,28.66,30.05,11.0,3.0,11.8
106270,154,51.0,42.0,47.0,11.0,26.0,38.0,18.0,0.0,0.0,0.00,28.76,30.14,10.5,2.0,10.8
106714,99,51.0,32.0,42.0,6.0,26.0,35.0,23.0,0.0,0.0,0.00,28.77,30.19,10.5,36.0,10.6
107158,184,54.0,30.0,42.0,6.0,28.0,37.0,23.0,0.0,0.0,0.00,28.50,29.93,6.6,36.0,8.0
107602,123,56.0,29.0,43.0,7.0,28.0,35.0,22.0,0.0,0.0,0.00,28.45,29.82,14.2,35.0,15.6
108046,81,37.0,18.0,28.0,-8.0,2.0,22.0,37.0,0.0,0.0,0.00,28.76,30.16,16.8,32.0,17.3
108490,102,52.0,18.0,35.0,-1.0,15.0,27.0,30.0,0.0,0.0,0.00,28.74,30.17,4.4,23.0,5.8
108934,143,58.0,29.0,44.0,8.0,15.0,33.0,21.0,0.0,0.0,0.00,28.81,30.22,2.9,34.0,7.6
109378,159,61.0,28.0,45.0,9.0,31.0,40.0,20.0,0.0,0.0,0.00,28.61,30.03,14.7,17.0,15.1
109822,121,69.0,52.0,61.0,25.0,49.0,53.0,4.0,0.0,0.0,0.00,28.41,29.81,19.7,20.0,20.0
110266,87,62.0,25.0,44.0,8.0,17.0,28.0,21.0,0.0,0.0,0.00,28.89,30.25,16.4,35.0,17.9
110710,94,46.0,17.0,32.0,-4.0,18.0,28.0,33.0,0.0,0.0,0.00,28.71,30.15,7.5,19.0,9.0
111154,104,54.0,30.0,42.0,6.0,27.0,35.0,23.0,0.0,0.0,0.00,28.48,29.90,4.0,36.0,9.4
111598,115,48.0,28.0,38.0,1.0,24.0,32.0,27.0,0.0,0.0,0.00,28.45,29.82,9.4,36.0,11.7
112042,138,43.0,21.0,32.0,-5.0,16.0,26.0,33.0,0.0,0.0,0.00,28.56,30.00,3.0,4.0,10.8
113374,103,65.0,34.0,50.0,13.0,32.0,41.0,15.0,0.0,0.0,1.52,28.62,30.01,11.4,13.0,13.1
113818,85,51.0,38.0,45.0,8.0,40.0,42.0,20.0,0.0,0.0,0.71,28.56,29.98,12.6,1.0,14.0
114262,76,55.0,33.0,44.0,7.0,33.0,38.0,21.0,0.0,0.0,0.00,28.58,29.97,7.9,33.0,9.0
114706,123,62.0,35.0,49.0,11.0,32.0,40.0,16.0,0.0,0.0,0.00,28.61,29.96,3.2,27.0,17.2
115150,153,49.0,29.0,39.0,1.0,22.0,31.0,26.0,0.0,0.0,0.00,29.01,30.41,3.8,31.0,7.2
115594,164,58.0,27.0,43.0,5.0,27.0,35.0,22.0,0.0,0.0,0.00,28.87,30.30,10.8,20.0,11.2
116038,85,65.0,35.0,50.0,12.0,38.0,45.0,15.0,0.0,0.0,0.00,28.63,30.05,15.9,18.0,16.3
116482,90,66.0,44.0,55.0,17.0,44.0,50.0,10.0,0.0,0.0,0.00,28.59,29.96,11.2,22.0,15.7
116926,169,65.0,37.0,51.0,12.0,32.0,42.0,14.0,0.0,0.0,0.00,28.72,30.11,6.9,1.0,7.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4410739,56,87.0,63.0,75.0,-1.0,54.0,63.0,0.0,10.0,0.0,0.00,29.60,30.12,4.4,11.0,5.2
4410850,25,89.0,66.0,78.0,2.0,57.0,65.0,0.0,13.0,0.0,0.00,29.55,30.07,4.4,10.0,6.1
4410961,59,88.0,67.0,78.0,3.0,59.0,66.0,0.0,13.0,0.0,0.00,29.51,30.02,4.9,11.0,5.8
4411072,50,90.0,67.0,79.0,4.0,61.0,67.0,0.0,14.0,0.0,0.00,29.49,30.00,4.8,8.0,5.7
4411183,40,89.0,67.0,78.0,3.0,62.0,68.0,0.0,13.0,0.0,0.00,29.42,29.94,5.9,7.0,6.8
4411294,27,92.0,71.0,82.0,8.0,66.0,71.0,0.0,17.0,0.0,0.00,29.29,29.81,8.5,14.0,9.6
4411405,45,93.0,73.0,83.0,9.0,68.0,73.0,0.0,18.0,0.0,0.00,29.25,29.75,13.1,17.0,12.7
4411516,26,94.0,66.0,80.0,6.0,67.0,71.0,0.0,15.0,0.0,0.57,29.32,29.79,6.3,21.0,11.1
4411627,86,82.0,59.0,71.0,-2.0,50.0,59.0,0.0,6.0,0.0,0.00,29.62,30.10,8.6,36.0,9.1
4411738,37,78.0,52.0,65.0,-8.0,36.0,52.0,0.0,0.0,0.0,0.00,29.55,30.09,3.4,16.0,5.7
4411849,76,85.0,60.0,73.0,0.0,56.0,63.0,0.0,8.0,0.0,0.00,29.34,29.88,11.3,17.0,11.6
4411960,100,85.0,66.0,76.0,3.0,63.0,67.0,0.0,11.0,0.0,0.35,29.34,29.85,10.7,16.0,11.5
4412071,30,97.0,70.0,84.0,12.0,65.0,71.0,0.0,19.0,0.0,0.00,29.36,29.86,9.8,18.0,10.6
4412182,29,88.0,73.0,81.0,10.0,68.0,72.0,0.0,16.0,0.0,0.00,29.45,29.95,11.5,15.0,12.8
4412293,51,91.0,75.0,83.0,12.0,68.0,73.0,0.0,18.0,0.0,0.00,29.39,29.90,13.7,16.0,14.3
4412404,28,88.0,61.0,75.0,7.0,54.0,61.0,0.0,10.0,0.0,0.00,29.38,29.88,2.2,10.0,6.1
4412515,42,81.0,62.0,72.0,4.0,54.0,61.0,0.0,7.0,0.0,0.00,29.54,30.04,7.0,7.0,8.1
4412626,77,77.0,59.0,68.0,1.0,54.0,59.0,0.0,3.0,0.0,0.00,29.57,30.08,7.0,13.0,7.4
4412737,24,83.0,59.0,71.0,4.0,57.0,62.0,0.0,6.0,0.0,0.00,29.52,30.04,4.1,13.0,4.9
4412848,35,82.0,59.0,71.0,4.0,58.0,63.0,0.0,6.0,0.0,0.00,29.53,30.04,3.3,13.0,3.8
4412959,30,81.0,63.0,72.0,6.0,58.0,64.0,0.0,7.0,0.0,0.00,29.57,30.09,7.7,12.0,8.0
4413070,35,79.0,64.0,72.0,6.0,55.0,61.0,0.0,7.0,0.0,0.00,29.59,30.09,7.1,14.0,8.1
4413181,42,84.0,62.0,73.0,8.0,58.0,63.0,0.0,8.0,0.0,0.00,29.58,30.09,6.7,16.0,7.6
4413292,25,88.0,65.0,77.0,12.0,59.0,65.0,0.0,12.0,0.0,0.00,29.54,30.07,6.7,18.0,7.4
4413403,78,88.0,65.0,77.0,13.0,57.0,65.0,0.0,12.0,0.0,0.00,29.39,29.93,8.8,19.0,9.4
4413514,31,85.0,67.0,76.0,12.0,59.0,65.0,0.0,11.0,0.0,0.00,29.31,29.82,14.9,19.0,15.3
4413625,20,79.0,66.0,73.0,9.0,58.0,64.0,0.0,8.0,0.0,0.00,29.50,29.98,2.6,2.0,8.2
4413736,20,77.0,56.0,67.0,3.0,46.0,56.0,0.0,2.0,0.0,0.00,29.62,30.13,5.1,9.0,6.8
4413847,24,79.0,56.0,68.0,5.0,51.0,58.0,0.0,3.0,0.0,0.00,29.60,30.11,2.9,14.0,5.6
4413958,23,67.0,49.0,58.0,-4.0,40.0,50.0,7.0,0.0,0.0,0.00,29.78,30.28,10.6,36.0,11.2

In [64]:
total_item44_validstore = total_item44[total_item44["store_nbr"].isin(validstore_ls)]
total_item44_validstore.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4413514,2014-10-27,36,44,31,18,85,67,76,12,59,...,0641,1741,,0.0,0.00,29.31,29.82,14.9,19,15.3
4413625,2014-10-28,36,44,20,18,79,66,73,9,58,...,0642,1740,,0.0,0.00,29.50,29.98,2.6,02,8.2
4413736,2014-10-29,36,44,20,18,77,56,67,3,46,...,0643,1740,,0.0,0.00,29.62,30.13,5.1,09,6.8
4413847,2014-10-30,36,44,24,18,79,56,68,5,51,...,0643,1739,RA,0.0,T,29.60,30.11,2.9,14,5.6
4413958,2014-10-31,36,44,23,18,67,49,58,-4,40,...,0644,1738,,0.0,0.00,29.78,30.28,10.6,36,11.2