In [2]:
# Import libraries
"""
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime
"""

# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# 원하는 스테이션 날씨 가져오기

In [8]:
station_1 = cf.getSpecifiedWeatherData(df_weather, 1)

In [9]:
cf.isThereNoneData(station_1)

M Data over 60% : ['depart', 'snowfall']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,2,0.19,0,0.00,0,0.0
3,tmin,1035,2,0.19,0,0.00,0,0.0
4,tavg,1035,6,0.58,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,6,0.58,0,0.00,0,0.0
7,wetbulb,1035,11,1.06,0,0.00,0,0.0
8,heat,1035,6,0.58,0,0.00,0,0.0
9,cool,1035,6,0.58,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,1035,100.0
11,sunset,1035,0,0.00,0,0.00,1035,100.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,1035,100.00,0,0.00,0,0.0
14,preciptotal,1035,5,0.48,197,19.03,0,0.0
15,stnpressure,1035,4,0.39,0,0.00,0,0.0
16,sealevel,1035,8,0.77,0,0.00,0,0.0
17,resultspeed,1035,4,0.39,0,0.00,0,0.0
18,resultdir,1035,4,0.39,0,0.00,0,0.0
19,avgspeed,1035,3,0.29,0,0.00,0,0.0

# 위에 함수에의해 60%이상 m벨루를 포함한 컬럼 "depart", "snowfall", "sunrise", "sunset"은 제거한다.

In [10]:
cf.remove_columns(station_1, ["depart", "snowfall", "sunrise", "sunset"])

제거한 컬럼명 : ['depart', 'snowfall', 'sunrise', 'sunset']

,station_nbr,date,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,codesum,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,1,2014-10-27,61,41,51,38,44,14,0,,0.00,29.70,29.89,6.3,27,7.3
1031,1,2014-10-28,65,37,51,45,48,14,0,BR,0.00,29.86,30.02,1.4,09,3.6
1032,1,2014-10-29,66,48,57,51,53,8,0,RA FG+ FG BR,0.11,29.70,29.86,2.9,27,4.4
1033,1,2014-10-30,57,39,48,39,43,17,0,,0.00,29.78,29.95,2.1,28,3.7
1034,1,2014-10-31,53,40,47,36,41,18,0,,0.00,29.87,30.03,5.4,04,5.8

In [12]:
station_1_t = cf.remove_m_row(station_1, ["tmax", "tmin", "tavg"])
print("")
print("")
station_1_dropped_all = cf.remove_m_row(station_1)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg']
제거한 float 컬럼 : []
제거한 후 데이터프레임 length : 1029


원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'codesum', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 1012