In [1]:
import awesome_functions as cf

In [2]:
total = pd.read_csv("total_201807051435.csv")

In [3]:
total.tail()

,date,store_nbr,item_nbr,units,log1p,date2,station_nbr,preciptotal_flag,depart_flag,weekday,...,depart,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,resultspeed,resultdir,avgspeed
229225,2014-10-30,39,111,3,1.386294,2014-10-30,8,0.0,0.0,3,...,-1,60,63,0,5,0.0,29.74,0.30,11.0,0.2
229226,2014-10-31,39,9,12,2.564949,2014-10-31,8,0.0,0.0,4,...,-5,38,65,0,1,0.0,29.82,11.55,20.5,5.1
229227,2014-10-31,39,36,3,1.386294,2014-10-31,8,0.0,0.0,4,...,-5,38,65,0,1,0.0,29.82,11.55,20.5,5.1
229228,2014-10-31,39,103,4,1.609438,2014-10-31,8,0.0,0.0,4,...,-5,38,65,0,1,0.0,29.82,11.55,20.5,5.1
229229,2014-10-31,39,111,2,1.098612,2014-10-31,8,0.0,0.0,4,...,-5,38,65,0,1,0.0,29.82,11.55,20.5,5.1

In [4]:
weather_refined = pd.read_csv("weather_final.csv")

In [5]:
weather_refined.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'month', 'day'],
      dtype='object')

In [ ]:
['tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed']

#### tmax
- Description : 일 최고기온
- Process :